div.yNHHyP-marker-view {
    span {
        display: block;
        width: 30px;
        height: 35px;
        background-image: url('../../assets/pins/ksiazulo/kebab.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.UC_1IqV4x5WCLdc6Qk1VMv0g {
            &.asian {
                background-image: url('../../assets/pins/wojek/asian.svg');
            }

            &.burger {
                background-image: url('../../assets/pins/wojek/burger.svg');
            }

            &.dessert {
                background-image: url('../../assets/pins/wojek/dessert.svg');
            }

            &.fastfood, &.american {
                background-image: url('../../assets/pins/wojek/fastfood.svg');
            }

            &.italian {
                background-image: url('../../assets/pins/wojek/italian.svg');
            }

            &.kebab {
                background-image: url('../../assets/pins/wojek/kebab.svg');
            }

            &.mexican {
                background-image: url('../../assets/pins/wojek/mexico.svg');
            }

            &.milk_bar {
                background-image: url('../../assets/pins/wojek/milkbar.svg');
            }

            &.polish {
                background-image: url('../../assets/pins/wojek/polish.svg');
            }
        }

        &.UCqJuMiGXqB8Hl41YsGV_sMA {
            &.asian {
                background-image: url('../../assets/pins/ksiazulo/asian.svg');
            }

            &.burger {
                background-image: url('../../assets/pins/ksiazulo/burger.svg');
            }

            &.dessert {
                background-image: url('../../assets/pins/ksiazulo/dessert.svg');
            }

            &.fastfood {
                background-image: url('../../assets/pins/ksiazulo/fastfood.svg');
            }

            &.italian {
                background-image: url('../../assets/pins/ksiazulo/italian.svg');
            }

            &.kebab {
                background-image: url('../../assets/pins/ksiazulo/kebab.svg');
            }

            &.mexico {
                background-image: url('../../assets/pins/ksiazulo/mexico.svg');
            }

            &.milk_bar {
                background-image: url('../../assets/pins/ksiazulo/milkbar.svg');
            }

            &.polish {
                background-image: url('../../assets/pins/ksiazulo/polish.svg');
            }
        }
    }
}